

@media screen and (max-width: 640px) {


	html {

		padding: 40px;
		text-align: center;
	  font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-size: cover;
}

.blackBg {

background: rgba(0, 0, 0, 0.65);
color: rgba(250, 250, 250, 0.9);

}

.formTop {

background: rgba(250, 200, 70, 0.8);

}

}


body {

	background: url('assets/images/mb.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.topBox {

	background: rgba(0, 0, 0, 0.65);
	padding: 10px 17px 10px 17px;
	display: inline-block;
	border-radius: 12px;

}

.whiteText {
	text-align: center;
	color: white;
}

.jumbotron {

}

.blackBg {

background: rgba(0, 0, 0, 0.65);
color: rgba(250, 250, 250, 0.9);

}

.formTop {

background: rgba(250, 200, 70, 0.8);

}

.spacing {

	margin-top: 15px;
}

tr:hover {

background: rgba(250, 215, 70, 0.8);

}

.train {
  
  width: 30px; /* Width of new image */
  height: 30px; /* Height of new image */
  
}